#include "catostyl.dtsi"
#include <dt-bindings/zmk/input_transform.h>

/ {
    chosen {
        zephyr,display = &oled;
    };

    pim447_listener: pim447_listener {
        compatible = "zmk,input-listener";
        device = <&pim447>;
    };
};

&kscan0 {
    compatible = "zmk,kscan-mock";
    columns = <0>;
    rows = <0>;
    events = <0>;
};

&pro_micro_i2c {
    clock-frequency = <100000>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        status = "okay";
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        inversion-on;
        prechargep = <0x22>;
    };

    pim447: pim447@0a {
        compatible = "pimoroni,pim447";
        reg = <0x0a>;
        status = "okay";
        int-gpios = <&pro_micro 21 (GPIO_ACTIVE_LOW)>;
    };
};
