#include "catostyl.dtsi"

/ {
    chosen {
        zephyr,display = &oled;
    };

    pim447_listener: pim447_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball>;
    };
};

&kscan0 {
    compatible = "zmk,kscan-mock";
    columns = <0>;
    rows = <0>;
    events = <0>;
};

&pro_micro_i2c {
    status = "okay";
    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        inversion-on;
        prechargep = <0x22>;
    };

    trackball: pim447@a {
        compatible = "pimoroni,pim447";
        reg = <0x0a>;
        int-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&pim447_listener { status = "okay"; };

&trackball { status = "okay"; };
