#include "catostyl.dtsi"

/ {
    chosen {
        zephyr,display = &oled;
    };
};

&kscan0 {
    compatible = "zmk,kscan-mock";
    columns = <0>;
    rows = <0>;
    events = <0>;
};

&pro_micro_i2c {
    #address-cells = <1>;
    #size-cells = <0>;

    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    // I2C_BITRATE_STANDARD   100000
    // I2C_BITRATE_FAST   400000
    // I2C_BITRATE_FAST_PLUS   1000000
    // I2C_BITRATE_HIGH   3400000
    // I2C_BITRATE_ULTRA   5000000

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        status = "okay";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };

    pim447: pim447@a {
        compatible = "zmk,behavior-pim447";
        #binding-cells = <1>;
        status = "okay";
        reg = <0x0a>;
        interrupt-gpios = <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&pim447_listener {
    status = "okay";
    device = <&pim447>;
};
