config SHIELD_CATOSTYL_DONGLE
    def_bool $(shields_list_contains,catostyl_dongle)

config SHIELD_CATOSTYL_LEFT
    def_bool $(shields_list_contains,catostyl_left)

config SHIELD_CATOSTYL_RIGHT
    def_bool $(shields_list_contains,catostyl_right)
