if SHIELD_CATOSTYL_DONGLE

config ZMK_KEYBOARD_NAME
    default "Catostyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y


if ZMK_PIMORONI_PIM447

config I2C
    default y

config ZMK_POINTING
    default y

config ZMK_POINTING_SMOOTH_SCROLLING
    default y

endif # ZMK_PIMORONI_PIM447


if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif # ZMK_DISPLAY


endif


if SHIELD_CATOSTYL_LEFT || SHIELD_CATOSTYL_RIGHT

config ZMK_BATTERY_VOLTAGE_DIVIDER
    default y

endif


if SHIELD_CATOSTYL_DONGLE || SHIELD_CATOSTYL_LEFT || SHIELD_CATOSTYL_RIGHT

config ZMK_SPLIT
    default y

endif
