if SHIELD_CATOSTYL_CENTER

config ZMK_KEYBOARD_NAME
    default "Catostyl"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif


if SHIELD_CATOSTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Catostyl L Peripheral"

endif


if SHIELD_CATOSTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "Catostyl R Peripheral"

endif


if SHIELD_CATOSTYL_LEFT || SHIELD_CATOSTYL_RIGHT

config ZMK_BATTERY_VOLTAGE_DIVIDER
    default y

endif


if SHIELD_CATOSTYL_CENTER || SHIELD_CATOSTYL_LEFT || SHIELD_CATOSTYL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
